.slider{
    display: block;
    width:50vw;
    margin: 0 auto;
    border: 2px solid black;
    border-radius:1vw;
}
.product>div{
    position:relative;
    display: inline-block;
    width:20%;
    margin-left:4%;
    background-color: rgb(0,0,0,0.5);
    border-radius: 1vw;
}
section div>img{
    width: 100%;
    height: 20vw;
    display:block;
    margin: auto;
}
.product{
    background-color: rgb(217 231 232 / 59%);   
    display: block;
    width: 96%;
    height: fit-content;
    font-size: 1.5vw;
    margin: 4vw auto;
    padding: 1vw;
    border: 2px solid rgba(84, 158, 163, 0.721);
    border-radius: 2%;
}
.product>h3{
    width: fit-content;
    margin: 1vw auto;
    padding: 3vw;
    font-size: 2.5vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.product a{
    display: block;
    width: fit-content;
    margin: 0 auto;
    color: #171b1e;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.product>div>p{
    margin:0.5vw;
    padding: 0.3vw;
}
.product a:hover{
    color: white;
    font-size: 1.4vw;

}
u{
    color: white;
}

